.expense-filter-div {
  display: flex;
  align-items: center;
  justify-content:space-between;
  border-radius: 12px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
  padding: .5rem;
  background-color: cornsilk;
  margin: 1rem auto;
  max-width: 97%;
}

label, select {
  font-size: large;
  margin: 1rem 2rem 1rem 1rem;
}

.filter-card {
  display: flex;
  justify-content: center;
}

.filter-year-div {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
  height: 100px;
  margin: 0 .25rem;
}

@media screen and (max-width: 700px) {
  .expense-filter-div {
    flex-direction: column;
  }
}
