.expense-item {
  display: flex;
  align-items: center;
  background-color: cornsilk;
  justify-content: space-between;
  margin: 1rem .25rem;
}

.expense-item__amount {
  position: sticky;
  display: flex;
  width: 70px;
  min-width: 70px;
  justify-content: center;
  background-color: lightgrey;
  border: solid white 3px;
  border-radius: 8px;
}

.expense-item__title,
.expense-item__amount {
  font-size: large;
  width: 70px;
  padding: 0.25rem 1rem;
  margin: 1rem;
}

button, input {
  font-size: medium;
}

button {
  background-color: powderblue;
}

.expense-item__month,
.expense-item__year {
  font-size: large;
}

@media screen and (max-width: 700px) {
  .expense-item {
    flex-direction: column;
    justify-content: center;
  }

  .expense-item__title, .expense-item-p {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
    margin:0;
   }

   .title-input {
     margin: .5rem 0;
   }
}
