.expense-item {
  display: flex;
  min-width: 600px;
  align-items: center;
  background-color: cornsilk;
  justify-content: space-between;
  margin: 0.25rem;
}

.expense-item__amount {
  position: sticky;
  display: flex;
  width: 70px;
  min-width: 70px;
  justify-content: center;
  background-color: lightgrey;
  border: solid white 2px;
  border-radius: 6px;
}

.expense-item__title,
.expense-item__amount {
  font-size: large;
  width: 100px;
  padding: 0.25rem 1rem;
  margin: 1rem;
}

button, input {
  font-size: medium;
}

.expense-item__month,
.expense-item__year {
  font-size: large;
}
