.filter-year-container {
  display: flex;
}

.filter-year-div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: .5rem;
}

p {
  display: flex;
  flex: column;
  justify-content: center;
}

.spring,
.summer,
.fall,
.winter {
  padding: 0.25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.winter {
  background-color: powderblue;
  margin: 1rem 0;
  padding: 1rem .25rem .25rem .25rem;
  font-size: large;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.spring {
  background-color: lightgreen;
  margin: 1rem 0;
  padding: 1rem .25rem .25rem .25rem;
  font-size: large;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.summer {
  background-color: coral;
  margin: 1rem 0;
  padding: 1rem .25rem .25rem .25rem;
  font-size: large;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.fall {
  background-color: goldenrod;
  margin: 1rem 0;
  padding: 1rem .25rem .25rem .25rem;
  font-size: large;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
}

.filter-year-button-div {
  display: flex;
  justify-content: flex-end;
}

.filter-year-button {
  background-color: lightpink;
  border: none;
  border-radius: 8px;
  box-shadow: 0 0.1px 18px rgba(0, 0, 0, 1);
  margin: 0 1rem 1rem 1rem;
  padding: .5rem 1rem;
  font-size: large;
}


@media screen and (max-width: 700px) {
  .filter-year-div {
    flex-wrap: wrap;
  }
}
